*{
    margin: 0px;
    padding: 0px;
}

#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    align-items: center;
    height: 50px;
}

#navbar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#navbar nav ul{
    display: flex;
    gap: 100px;
    list-style: none;
}

#navbar nav ul li a{
    text-decoration: none;
    font-size: 25px;
    color: blue;
}

#navbar button{
    background-color: brown;
    color: white;
    padding: 10px;
    border-radius: 10px; /*shape*/
}


/* Home section CSS */
#home{
    width: 100%;
    height: 100vh;
    background-color: skyblue;
    background-image: url('image/Aeroplane.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#home p {
    color:white;
    text-align: center;
    /* padding-top: 10%; */
    /* background-color: red; */
    /* margin-left: 50%; */
}

/* ==================About CSS ==================== */
#about{
    width: 100%;
    height: 100vh;
}

#About .aboutdiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#About .aboutdiv .div1{
    width: 50%;

}

#About .aboutdiv .div2{
    width: 50%;
    
}