/* For no extra space */
*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    margin-left: 50px;
    list-style: none; /*for remove ul cirle*/
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

.navbar li a{
    text-decoration:none;
    border-bottom: 2px dotted blue;
    color: red;
}

#maindiv{
    display: flex; /* in one line*/
    justify-content: center;
    flex-wrap: wrap;
}

#maindiv .box{
    width: 200px;
    height: 200px;
    border: 1px solid black;
} 
#box1 {
    width: 300px;
    height: 300px;
    background-color: aqua;
    border: 1px solid red;
    border-radius: 50%;
    margin-left: 40%;
    background-color: rgba(255,0, 255,0.2);
    opacity: 30%;
}